:root {
	code {
		background: rgba(255, 255, 255, 0.15);
		font-family: monospace;
		padding: 0.4rem;
	}
	h1 {
		display: block;
		font-size: 2rem;
		font-weight: bold;
	}
	h2 {
		display: block;
		font-size: 1.5rem;
		font-weight: bold;
	}
	h3 {
		display: block;
		font-size: 1.17rem;
		font-weight: bold;
	}
	h4 {
		display: block;
		font-size: 1rem;
		font-weight: bold;
	}
	h5 {
		display: block;
		font-size: 0.83rem;
		font-weight: bold;
	}
	h6 {
		display: block;
		font-size: 0.67rem;
		font-weight: bold;
	}
}
